{% extends 'core/base.html' %}

{% block content %}
<div class="row w-50 mx-auto mt-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-start mb-3">Login:</h4>
            {% if form.errors %}
            {% for key,value in form.errors.items %} 
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ key|escape }} : {{ value|escape }}
                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="title" class="form-label">Username</label>
                    <input name="username" type="text" class="form-control" id="title" value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="password1">
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
            <div class="text-center mt-3">Dont have an account?</div>
            <div class="text-center mb-3"><a href="{% url 'signup' %}">Sign Up</a></div>
        </div>  
    </div> 
</div>
    
{% endblock %}