{% extends 'core/base.html' %}
{% load humanize %}
{% block content %}
    <div class="modal fade" id="cart" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cart</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-group" method="POST" action="{% url 'add-order' %}">
                    {% csrf_token %}
                    <ul class="list-group" id="cart-list">
                        
                    </ul>
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center mt-4">
        <div class="col-9">
            
            <div class="card">
                <h5 class="card-header">{% if category %}{{ category }}{% else %}Products{% endif %}</h5>
                <div class="card-body">
                    <div class="border-bottom border-top mb-3">
                        <div class="text-center mt-2">Categories</div>
                        <div class="m-2">
                            {% if category %}<a class="btn btn-sm fw-bold btn-outline-primary" href="{% url 'home-page' %}"><i class="bi bi-chevron-left"></i></a>{% endif %}
                            {% for category in categories %}
                                <a class="btn btn-sm fw-bold btn-primary" href="{% url 'home-page' %}?category={{ category }}">{{ category }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        {% for product in object_list %}
                        <li id="cart-{{ product.id }}" class="list-group-item d-none d-flex align-items-center">
                            <div class="ratio ratio-1x1 me-3" style="width: 7%;">
                                <img src="{{ product.image.url }}" style="object-fit: cover;">
                            </div>
                            {{ product.title }}<span class="ms-2 text-success fw-bold">{{ product.get_end_price|intcomma}} $</span>
                            <div class="ms-auto d-flex align-items-center">
                                <label for="count">count: </label>
                                <input name="{{ product.id }}" class="form-control ms-2" id="count" value="1" min="1" max="{{ product.available }}" type="number">
                                <button id="{{ product.id }}" onclick="removeFromCart(event)" class="btn btn-outline-danger ms-2">Remove</button>
                            </div>
                        </li>
                        <div class="col-3 mb-3">
                            <div class="card h-100">
                                <div  class="ratio ratio-1x1 border-bottom">
                                    <img src="{{ product.image.url }}" class="card-img-top" style="object-fit: cover;">
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title mb-2">{{ product.title }}</h5>
                                    <div class="border-bottom border-top mb-2 py-1">
                                        <div class="text-center">Categories</div>
                                        {% for cat in product.category.get_parents %}
                                            <span class="text-muted">{{ cat }} {% if not forloop.last %}>{% endif %}</span>
                                        {% endfor %}
                                    </div>
                                    {% if product.discount %}
                                    <div class="text-muted text-start text-decoration-line-through">{{ product.price }} $</div>
                                    {% endif %}
                                    <div class="text-success fw-bold text-start mb-2">{{ product.get_end_price|intcomma }} $</div>
                                    <div class="text-muted text-center mt-auto mb-3">{{ product.available }} Items Available</div>
                                    <div class="d-grid gap-2">
                                        <a href="{% url 'product-detail' product.id %}" class="btn fw-bold btn-outline-primary">Details</a>
                                        <button id="{{ product.id }}" class="fw-bold btn {% if product.available %}btn-outline-success{% else %}btn-danger{% endif %} add-cart"{% if not product.available %} disabled {% endif %}>{% if product.available %}Add To Cart{% else %}Not Available{% endif %}</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}